In [1]:
pip install pony

Requirement already satisfied: pony in /opt/anaconda3/lib/python3.8/site-packages (0.7.14)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from pony.orm import *

In [3]:
db = Database()

wings = {'EW':'East Wing','SW': 'South Wing', 'WW': 'West Wing', 'NW':'North Wing'}

# create a Patient entity
class Patient(db.Entity):
    name = Required(str)
    age = Required(int)
    stay = Required(int)
    location = Optional('Room')
    condition = Required(str)
    visits = Required(bool)
    


    
    

    
    

# create a room Entity
class Room(db.Entity):
    number = Required(int)
    wing = Required(str)
    patients = Set(Patient)
    building = Optional('Hospital')
    

class Hospital(db.Entity):
    rooms = Set(Room)
    

db.bind(provider='sqlite', filename=':memory:')

db.generate_mapping(create_tables=True)

In [4]:
r1 =Room(number=2,wing='EW')

In [5]:


p1 = Patient(name = 'paula',age = 60, stay = 26,location = r1,condition='ill',visits = True)

In [6]:
Patient.select().show()

id|name |age|stay|location|condition|visits
--+-----+---+----+--------+---------+------
1 |paula|60 |26  |Room[1] |ill      |True

In [7]:
River_Hospital = Hospital()

for x in range(10):
    for y in wings:
        created_room = Room(number=x, wing = y)
        River_Hospital.rooms.add(created_room)

In [8]:
River_Hospital.rooms

In [9]:
Room.select().show()

id|number|wing|building
--+------+----+-----------
1 |2     |EW  |None
2 |0     |EW  |Hospital[1]
3 |0     |SW  |Hospital[1]
4 |0     |WW  |Hospital[1]
5 |0     |NW  |Hospital[1]
6 |1     |EW  |Hospital[1]
7 |1     |SW  |Hospital[1]
8 |1     |WW  |Hospital[1]
9 |1     |NW  |Hospital[1]
10|2     |EW  |Hospital[1]
11|2     |SW  |Hospital[1]
12|2     |WW  |Hospital[1]
13|2     |NW  |Hospital[1]
14|3     |EW  |Hospital[1]
15|3     |SW  |Hospital[1]
16|3     |WW  |Hospital[1]
17|3     |NW  |Hospital[1]
18|4     |EW  |Hospital[1]
19|4     |SW  |Hospital[1]
20|4     |WW  |Hospital[1]
21|4     |NW  |Hospital[1]
22|5     |EW  |Hospital[1]
23|5     |SW  |Hospital[1]
24|5     |WW  |Hospital[1]
25|5     |NW  |Hospital[1]
26|6     |EW  |Hospital[1]
27|6     |SW  |Hospital[1]
28|6     |WW  |Hospital[1]
29|6     |NW  |Hospital[1]
30|7     |EW  |Hospital[1]
31|7     |SW  |Hospital[1]
32|7     |WW  |Hospital[1]
33|7     |NW  |Hospital[1]
34|8     |EW  |Hospital[1]
35|8     |SW  |Hospital[1]
36|8     |WW  |Hospital[1]
37|8     |NW  |Hospital[1]
38|9     |EW  |Hospital[1]
39|9     |SW  |Hospital[1]
40|9     |WW  |Hospital[1]
41|9     |NW  |Hospital[1]

In [10]:
sep = ','
with open('patients.csv','r') as f:
    f.readline()
    patient_list = []
    for x in f:
        x = x.strip().split(sep)
        name = x[0]
        age = int(x[1])
        stay = int(x[2])
#         condition = x[3]
        patient_list.append(Patient(name=name,age=age,stay=stay,condition='ill',visits=True))

In [11]:
i = 0
for x in patient_list:
    x.location = list(River_Hospital.rooms)[i]
    i+= 1

In [12]:
import numpy as np
import pandas as pd

In [14]:
df = pd.read_csv('patients.csv')
df

        name  age  stay condition
0       paul   57    16   illness
1    minerva   58    16   illness
2       emma   59    16   illness
3     jemima   60    16   illness
4        ray   61    16   illness
5      donna   62    16   illness
6    gilbert   63    16   illness
7      lewis   64    16   illness
8     norman   65    16   illness
9     conard   66    16   illness
10      john   67    16   illness
11     peter   68    16   illness
12  isabella   69    16   illness
13      phil   70    16   illness
14    leslie   71    16   illness